.image-cropper {
    width: 150px;
    height: 150px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    border: 5px solid #eb64aa;
    margin: auto;
}
.profile-pic {
  width: 150%;
}